body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#calculator {
  width: 300px;                
  margin: 50px auto;           
  padding: 20px;               
  border: 2px solid black;    
  border-radius: 10px;         
  background-color: #f3f3f3;   
  box-shadow: 2px 2px 10px gray;
}


#screen {
    border: 1px solid black;
    border-radius: 4px;
    background-color: #eae3e3;
    padding: 10px;
    margin-bottom: 20px;
    width: 250px;
    height: 40px;
    line-height: 50px;
    font-size: 20px;
    text-align: right;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px); /* 4 colonnes */
  gap: 10px; /* espace entre les boutons */
  justify-content: center; /* centrer la grille */
}

#buttons button {
  height: 60px;
  font-size: 20px;
  border-radius: 8px;
  border: 3px;
  background-color: #ddd;
  cursor: pointer;
}
